@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 177 100% 4%;
    --foreground: 0 0% 100%;

    --primary: 333 84% 47%;
    --primary-foreground: 0 0% 100%;

    --accent: 249 100% 75%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 40%;
    --destructive-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%; */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%; 
    /* // kinda blue purple-y */

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --ring: 215 20.2% 65.1%;
  }
}
